################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/MultiPassRendering/x64
/packages/Microsoft.DXSDK.D3DX.9.29.952.8
/x64
