################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/MultiPassRendering/x64
/packages/Microsoft.DXSDK.D3DX.9.29.952.8
/x64
/MultiPassRendering/MultiPassRendering/x64/Debug
/MultiPassRendering/packages/Microsoft.DXSDK.D3DX.9.29.952.8
/MultiPassRenderingAndMultiRenderTarget/.vs/MultiPassRendering
/MultiPassRenderingAndMultiRenderTarget/MultiPassRendering/x64/Debug
/MultiPassRenderingAndMultiRenderTarget/packages/Microsoft.DXSDK.D3DX.9.29.952.8
/MultiPassRenderingAndMultiRenderTarget/x64/Debug
